.title .title-name {
    margin-bottom: 20px;
    font-size: 50px;
    color: #E2E8F0
}
.title .title-role {
    margin-bottom: 20px;
    font-size: 30px;
    color: #E2E8F0;
}
.title .title-about {
    margin-bottom: 60px;
}